*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.backDiv {
    height: 100vh;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 0.9;
}
.key {
    padding: 0.1rem 2rem;
    border: 4px solid black;
    background-color: transparent;
    color: white;
    margin: 0 10px;
}
.key > p {
    color: #FFC600;
}
.btns {
    top: 320px;
    width: 80%;
    right: 150px;
    position: absolute;
}
.playing {
    border: 6px solid #FFC600;
    transform: scale(1.2);

}
