*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
}
h1{
    font-size: 4em;
}
.allDiv{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.numberJS{
   font-size: 5em;
}